<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="URLSection" type="CrawlerUI.Config.URLConfigSection, CrawlerUI"/>

  </configSections>
  <URLSection>
    <URLs>

    <url url="http://slo.ru"/>
      <url url="https://google.ru"/>
     <url url="https://vk.com"/>
    </URLs>
  </URLSection>
  <appSettings>
    <add key="CrawlerDepth" value="2"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>